<html>

<body>
    <h2> Hi !{{welcomeMessage}}</h2> 
    
 <center><h1>Welcome to City Page </h1></center>
 <h2>Welcome to {{cityName}} city</h2>
 <h2>{{cityName}} is the  {{tagline}} City:</h2>
  <h6>Thank you for visiting great city:</h6>
   City Page::!!!
</body>

</html>
