<html>

<body>
    <h2> Hi !{{welcomeMessage}}</h2>
    <form method="post" action="/toCity">
    <input type="text" name="interest" placeholder="Enter your interest"></input>
    <button type="submit" value="Sign-IN">Sign-In</button>
    
    </form>
    
 Landing  Page::!!!
  to visit city please type your intrest 
  fashion or  history or finance.
</body>

</html>