<html>
<title></title>
<head>
<style>
body {
  background-image: url("bg.gif");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
h1 {
	color:whitesmoke;
}
</style>


</head>
<body >
    
    <!--<form method="get" action="/toLanding">
    <input type="text" name="nm" placeholder="Enter your name"></input>
    <button type="submit" value="Sign-IN">Sign-In</button>
    
    </form>-->
    
   
   
      
     
      <center>
      <div class="alert alert-danger">
       <h1>EID MUBARAK</h1>
      </div>
      
       
       <center><h1> <iframe width="800" height="500" src="Eidgretting.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></h1></center>
    
</body>
 
</html>
