<html>
<title></title>
<head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
body {
  background-image: url("bg.gif");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
h1 {
	color:whitesmoke;
}
</style>


</head>
<body >
    
    <!--<form method="get" action="/toLanding">
    <input type="text" name="nm" placeholder="Enter your name"></input>
    <button type="submit" value="Sign-IN">Sign-In</button>
    
    </form>-->
    <div class="container">
  <h1>EID MUBARAK</h1>
  <p>This part is inside a .container class.</p> 
<center><h1> <iframe width="800" height="500" src="Eidgretting.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></h1></center>
</div>
   
   
      
     
      
      
       
       
</body>
 
</html>
