<html>

<body>
    
    <form method="get" action="/toLanding">
    <input type="text" name="nm" placeholder="Enter your name"></input>
    <button type="submit" value="Sign-IN">Sign-In</button>
    
    </form>
    
   
   
      
      <center><h3 style="background-color:DodgerBlue; color:Black"> Bakul Vai , akther vai , Raihan and  Farhan Vai  Eid Mubark--</h3></center>
      <center><h3 style="background-color:DodgerBlue; color:Black"> ::Kemon Achen Sobai::</h3></center>
        <center><h1 style="background-color:DodgerBlue; color:Tomato"> Eid MubarK</h1></center>
</body>
 
</html>