<html>

<body>
    
    <form method="get" action="/toLanding">
    <input type="text" name="nm" placeholder="Enter your name"></input>
    <button type="submit" value="Sign-IN">Sign-In</button>
    
    </form>
    

    Login Page::!!!
    <h3>Bakul Vai , akther vai , Raihan farhan Eid Mubark.... Kemon achen sobai</h3>
</body>

</html>